<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Versioning" value="enabled" />
		<add key="Reseeding" value="disabled" />
		<add key="Host" value="localhost" />
		<add key="Port" value="5432" />
		<add key="Database" value="PR" />
		<add key="Schema" value="public" />
		<add key="User" value="root" />
		<add key="Password" value="root" />
	</appSettings>
</configuration>